:80 {
  route /static/* {
    uri strip_prefix /static
    root * /var/www/static
    file_server {
      browse
    }
  }
  route /media/* {
    uri strip_prefix /media
    root * /var/www/media
    file_server {
      browse
    }
  }
  reverse_proxy ihatetobudget:8000
}
