{% load bootstrap4 %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'favicon.ico' %}" />

    <title>{% block title %}{{ title }}{% endblock %} &mdash; IHateToBudget</title>

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--{% bootstrap_css %}-->
    <!-- Litera theme: https://bootswatch.com/litera/ -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include "ihatetobudget/common/navbar.html" %}

    <div class="container mt-4">
      {% bootstrap_messages %}

      {% block body %}{% endblock %}

      <footer class="mt-5 mb-4 d-flex justify-content-between text-muted">
        <span>Powered By <a class="text-muted" href="https://github.com/bminusl/ihatetobudget">IHateToBudget</a></span>
        <a class="ml-3 text-right text-muted" href="https://github.com/bminusl/ihatetobudget/releases/tag/v{{ version }}"><span>Version {{ version }}</span></a>
      </footer>
    </div>

    {% bootstrap_javascript jquery='full' %}
    <script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
$(function () {
  $('[data-toggle="popover"]').popover({
    // Set "placement" depending on screen size, see
    // https://stackoverflow.com/questions/17437996/twitter-bootstrap-popover-how-to-set-placement-depending-on-screen-size#answer-27344574
    'placement': function(tt, trigger) {
        var $trigger = $(trigger);
        var windowWidth = $(window).width();

        var xs = $trigger.attr('data-placement-xs');
        var sm = $trigger.attr('data-placement-sm');
        var md = $trigger.attr('data-placement-md');
        var lg = $trigger.attr('data-placement-lg');
        var general = $trigger.attr('data-placement');

        return (windowWidth >= 1200 ? lg : undefined) ||
            (windowWidth >= 992 ? md : undefined) ||
            (windowWidth >= 768 ? sm : undefined) ||
            xs ||
            general ||
            "top";
    }
  })
})
    </script>
  </body>
</html>
