{% load ihatetobudget_extras %}
<div class="card mt-3 mt-md-0 mb-4">
  <div class="card-header font-weight-bold text-uppercase">
    Sheets
  </div>
  <div class="card-body">
    <ul class="fa-ul nav nav-custom flex-column">
      <li class="nav-item">
        {% url 'sheets:index' as url %}
        {% include "sheets/macros/sidebar_link.html" with url=url icon="fa-th" text="Overview" %}
      </li>
    </ul>

    <h6 class="mt-3 mb-1 font-weight-normal text-muted text-uppercase">
      By date
    </h6>

    <ul class="fa-ul nav nav-custom flex-column">
      {% for sheet_date in sheet_date_list %}
        <li class="nav-item">
          {% if sheet_date.month == current_sheet_date.month and sheet_date.year == current_sheet_date.year %}
            {% setvar "fa-hand-spock-o" as icon %}
          {% else %}
            {% setvar '' as icon %}
          {% endif %}

          {% url 'sheets:sheet' sheet_date.year sheet_date.month as url %}
          {% include "sheets/macros/sidebar_link.html" with url=url icon=icon text=sheet_date|date:"F Y" %}
        </li>
      {% empty %}
        <span class="text-warning">No sheet available</span>
      {% endfor %}
    </ul>

    <h6 class="mt-3 mb-1 font-weight-normal text-muted text-uppercase">
      Settings
    </h6>

    <ul class="fa-ul nav nav-custom flex-column">
      <li class="nav-item">
        {% url 'sheets:categories' as url %}
        {% include "sheets/macros/sidebar_link.html" with url=url icon="fa-pencil-square-o" text="Edit categories" %}
      </li>
    </ul>
  </div>
</div>
