[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
coverage = "*"

[packages]
django = "*"
django-bootstrap4 = "*"
django-colorfield = "*"
daphne = "*"
django-mathfilters = "*"
django-crontab = "*"
python-dateutil = "*"

[requires]
python_version = "3.8"
