{% load ihatetobudget_extras %}
<div class="card mt-3 mt-md-0 mb-4">
  <div class="card-header font-weight-bold text-uppercase">
    {% setvar sheet_date_list|length as sheet_amount %}
    {{ sheet_amount }} Sheet{{ sheet_amount|pluralize:',s' }}
  </div>
  <div class="card-body">
    <ul class="fa-ul nav nav-custom flex-column">
      <li class="nav-item">
        {% url 'sheets:index' as url %}
        {% include "sheets/macros/sidebar_link.html" with url=url icon="fa-th" text="Overview" %}
      </li>
    </ul>

    <h6 class="mt-3 mb-1 font-weight-normal text-muted text-uppercase">
      By date
    </h6>

    {% regroup sheet_date_list by year as year_group_list %}
    {% for year_group in year_group_list %}

      {# `month` is defined by MonthArchiveView, i.e. our SheetView #}
      {% if month.year == year_group.grouper %}
        {% setvar False as should_collapse %}
      {% else %}
        {% setvar True as should_collapse %}
      {% endif %}

      <a class="nav-collapse d-block {{ should_collapse|yesno:'collapsed,' }}" data-toggle="collapse" href="#collapseYear{{ year_group.grouper }}" role="button" aria-expanded="{{ should_collapse|yesno:'false,true' }}" aria-controls="collapseYear{{ year_group.grouper }}">
        <i class="fa fa-caret-right fa-fw"></i>{{ year_group.grouper }}
      </a>

      <div class="collapse {{ should_collapse|yesno:',show' }}" id="collapseYear{{ year_group.grouper }}">
        <ul class="fa-ul nav nav-custom flex-column">
          {% for sheet_date in year_group.list %}
            <li class="nav-item">
              {% if sheet_date.month == current_sheet_date.month and sheet_date.year == current_sheet_date.year %}
                {% setvar "fa-angle-right" as icon %}
              {% else %}
                {% setvar '' as icon %}
              {% endif %}

              {% url 'sheets:sheet' sheet_date.year sheet_date.month as url %}
              {% setvar sheet_date|date:"F Y"|italic_if_future:sheet_date as text %}
              {% include "sheets/macros/sidebar_link.html" with url=url icon=icon text=text %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% empty %}
      <span class="text-warning">No sheet available</span>
    {% endfor %}

    <h6 class="mt-3 mb-1 font-weight-normal text-muted text-uppercase">
      Settings
    </h6>

    <ul class="fa-ul nav nav-custom flex-column">
      <li class="nav-item">
        {% url 'sheets:categories' as url %}
        {% include "sheets/macros/sidebar_link.html" with url=url icon="fa-pencil-square-o" text="Edit categories" %}
      </li>
    </ul>
  </div>
</div>
