.btn-circle {
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  border-radius: 1.125rem;
  font-size: 75%;
  text-align: center;
  line-height: 2.25rem;
}

.form-group-required label::after {
  content: ' *';
  color: var(--danger);
  font-weight: bold;
}


/*
 * Toggle visibility based on parent :hover state (or :active for touch screens)
 */

.v-child {
  visibility: hidden;
}

.v-parent:active.v-parent-bg,
.v-parent:hover.v-parent-bg {
  background-color: var(--light);
}

.v-parent:active .v-child,
.v-parent:hover .v-child,
.v-child.show {
  visibility: visible;
}
