.btn-circle {
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  border-radius: 1.125rem;
  font-size: 75%;
  text-align: center;
  line-height: 2.25rem;
}

.form-group-required label::after {
  content: ' *';
  color: var(--danger);
  font-weight: bold;
}
