body, p {
  font-family: 'Lato', sans-serif;
}


/*
 * Navbar
 */

.navbar .nav-link {
  color: rgba(0, 0, 0, .75) !important;
  font-weight: 600;
}
.navbar .nav-link:hover {
  color: rgba(0, 0, 0, .5) !important;
}

.navbar-brand:hover {
  opacity: .5;
}


/*
 * Random stuff
 */

.btn-circle {
  width: 2rem;
  height: 2rem;
  padding: 0;
  border-radius: 1rem;
  font-size: 75%;
  text-align: center;
  line-height: 2rem;
}

.form-group-required label::after {
  content: ' *';
  color: var(--danger);
  font-weight: bold;
}


/*
 * Toggle visibility based on parent :hover state (or :active for touch screens)
 */

.v-child {
  visibility: hidden;
}

.v-parent:active.v-parent-bg,
.v-parent:hover.v-parent-bg {
  background-color: var(--light);
}

.v-parent:active .v-child,
.v-parent:hover .v-child,
.v-child.show {
  visibility: visible;
}


/*
 * Custom nav style
 */

.nav-custom a {
 color: inherit;
}
.nav-custom a:hover {
  text-decoration: underline;
}
.nav-custom .nav-link.active {
  color: var(--primary);
  font-weight: bold;
}


/*
 * Popover custom style (base on `.card.bg-dark`)
 */

.popover {
  background: var(--dark);
  color: var(--white);
  border: 1px solid rgba(0,0,0,0.125);
}

.popover-header {
  background-color: rgba(0,0,0,0.03);
  border-bottom: 1px solid rgba(0,0,0,0.125);
}

.popover-body {
  color: var(--white);
}

/* Specific to our use */
.popover .arrow::before {
    border-left-color: #2e3338;
}
.popover .arrow::after {
    border-left-color: var(--dark);
}
