version: "3"

services:
  ihatetobudget:
    build: .
    command: pipenv run daphne -b 0.0.0.0 ihatetobudget.asgi:application
    restart: always
    ports:
      - '8000:80'
    volumes:
      - ./app:/usr/src/app
    env_file: docker-compose.env
