{% extends 'ihatetobudget/common/base.html' %}

{% load ihatetobudget_extras %}

{% block body %}
  {% include 'sheets/macros/page_header_beginning.html' with title=title %}
  {% include 'sheets/macros/page_header_end.html' %}

  {% if page_obj %}
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">{{ sortable_fields_dict.date }}</th>
            <th scope="col">{{ sortable_fields_dict.category }}</th>
            <th scope="col">{{ sortable_fields_dict.amount }}</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for expense in page_obj %}
            <tr class="v-parent v-parent-bg {{ expense.date|is_future_date|yesno:'table-info,' }}">
              <td>
                {% ifchanged %}
                  {{ expense.date.isoformat }}
                {% endifchanged %}
              </td>
              <td class="text-nowrap">
                {% if expense.category %}
                  {% include 'sheets/macros/category.html' with category=expense.category %}
                {% else %}
                  N/A
                {% endif %}
              </td>
              <td>{{ expense.amount|currency }}</td>
              <td style="min-width: 20rem;">{{ expense.description }}</td>
              <td>{% include 'sheets/macros/expense_menu.html' with expense=expense %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <nav aria-label="History navigation" class="mt-4">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            {% setvar page_obj.previous_page_number|stringformat:"i" as page %}
            {% setvar 'page='|add:page as parameters %}
            <a class="page-link" href="?{{ request.GET|override_query_dict:parameters }}">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
        {% endif %}

        {% for page_number in page_obj.paginator.page_range %}
          {% if page_number == page_obj.number %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ page_number }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            {% setvar page_number|stringformat:"i" as page %}
            {% setvar 'page='|add:page as parameters %}
            <li class="page-item"><a class="page-link" href="?{{ request.GET|override_query_dict:parameters }}">{{ page_number }}</a></li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item">
            {% setvar page_obj.next_page_number|stringformat:"i" as page %}
            {% setvar 'page='|add:page as parameters %}
            <a class="page-link" href="?{{ request.GET|override_query_dict:parameters }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Next</span>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% else %}
    <p class="text-warning">Nothing to show yet.</p>
  {% endif %}
{% endblock %}
