{% extends 'sheets/common/base.html' %}

{% block title %}Sheets{% endblock %}

{% block content %}
  {% include 'sheets/macros/page_header_beginning.html' with title="Sheets" %}
  {% include 'sheets/macros/page_header_end.html' %}

  <div class="d-flex justify-content-between">
    <h2 class="h3 font-weight-light">Monthly insights</h2>

    {% if monthly_insights %}
      <ul class="nav nav-pills justify-content-end ml-3" id="myTab" role="tablist">
        {% for year in monthly_insights %}
        <li class="nav-item" role="presentation">
          <a class="nav-link {% if forloop.first %}active{% endif %}" id="monthlyInsights{{ year }}-tab" data-toggle="tab" href="#monthlyInsights{{ year }}" role="tab" aria-controls="monthlyInsights{{ year }}" aria-selected="{{ forloop.first|yesno:'true,false' }}">{{ year }}</a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="tab-content" id="myTabContent">
    {% for year, category_dict in monthly_insights.items %}
      <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="monthlyInsights{{ year }}" role="tabpanel" aria-labelledby="monthlyInsights{{ year }}-tab">
        <canvas class="my-4" id="canvas{{ year }}"></canvas>
        <script>
var ctx = document.getElementById('canvas{{ year }}').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
      datasets: [
        {% for category, amounts_per_month in category_dict.items %}
          {
            label: '{{ category|default:"No category" }}',
            backgroundColor: '{{ category.color|default:"#ddd" }}',
            data: [
              {% for amount in amounts_per_month %}
                {{ amount }},
              {% endfor %}
            ],
          },
        {% endfor %}
      ],
    },
    options: {
      tooltips: {
        mode: 'index',
        intersect: false,
      },
      responsive: true,
      scales: {
        xAxes: [{
          stacked: true,
          gridLines: {
            display:false,
          },
        }],
        yAxes: [{
          stacked: true,
        }]
      },
    }
});
        </script>
      </div>
    {% empty %}
      <p class="text-warning">Nothing to show yet.</p>
    {% endfor %}
  </div>
{% endblock %}
