{% extends 'sheets/common/base.html' %}

{% load sheet_extras %}

{% block title %}{{ month|date:"F Y" }}{% endblock %}

{% block content %}
  {% include 'sheets/macros/page_header_beginning.html' with title=month|date:"F Y" %}
    <a href="{% url 'sheets:expense-new' %}" class="btn btn-block btn-success btn-sm">
      <i class="fa fa-plus"></i> New Expense
    </a>
  {% include 'sheets/macros/page_header_end.html' %}

  <span class="font-weight-light" style="font-size: 1.5rem;">{{ total_amount|currency }}</span>
  <img class="w-100 mt-2 mb-4 rounded-pill" src="data:image/png;base64,{{ plot_overview }}">

  {% regroup object_list|order_queryset_by:'category' by category as category_list %}
  <div class="row">
    {% for category in category_list %}
      <div class="col-lg-6">
        <div class="card mb-4">
          <a href="{% url 'sheets:expense-new' %}?category={{ category.grouper|urlencode }}" class="btn btn-light btn-circle border position-absolute" style="left: 50%; bottom: -1.125rem; transform: translateX(-1.125rem); z-index: 100;"><i class="fa fa-plus fa-lg"></i></a>

          <div class="card-header d-flex justify-content-between">
            {% if category.grouper is None %}
              <span class="font-italic">No category</span>
            {% else %}
              <span class="text-truncate">
                {% include 'sheets/macros/category.html' with category=category.grouper %}
              </span>
            {% endif %}

            <span class="ml-3" style="font-size: 1.25rem;">{{ category.list|attrsum:'amount'|currency }}</span>
          </div>
          <ul class="list-group list-group-flush">
            {% for expense in category.list|dictsortreversed:'date' %}
              <li class="list-group-item d-flex justify-content-between align-items-center py-2 v-parent v-parent-bg">
                <span class="flex-fill text-truncate">{{ expense }}</span>
                <small class="text-muted text-right ml-3 v-child" style="line-height: 1.25;">{{ expense.date.isoformat }}<br>{{ expense.amount|currency }}</small>

                {% include 'sheets/macros/expense_menu.html' with expense=expense %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
