{% extends 'sheets/common/base.html' %}

{% load sheet_extras %}

{% block title %}{{ month|date:"F Y" }}{% endblock %}

{% block content %}
  {% include 'sheets/macros/page_header_beginning.html' with title=month|date:"F Y" %}
    <a href="{% url 'sheets:new_expense' %}" class="btn btn-block btn-primary btn-sm">
      <i class="fa fa-plus"></i> New Expense
    </a>
  {% include 'sheets/macros/page_header_end.html' %}

  {% regroup object_list|order_queryset_by:'category' by category as category_list %}
  <div class="row">
    {% for category in category_list %}
      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-header">
            {% if category.grouper is None %}
              <span class="font-italic">No category</span>
            {% else %}
              {{ category.grouper }}
            {% endif %}
          </div>
          <ul class="list-group list-group-flush">
            {% for expense in category.list %}
              <li class="list-group-item d-flex justify-content-between align-items-center py-2">
                {{ expense.description }}
                <span class="ml-3">{{ expense.amount }}</span>
              </li>
            {% endfor %}
          </ul>
          <a href="{% url 'sheets:new_expense' %}?category={{ category.grouper }}" class="btn btn-primary btn-circle position-absolute" style="left: 50%; bottom: -1.125rem; transform: translateX(-1.125rem)"><i class="fa fa-plus fa-lg"></i></a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
